/* COMPOSITION //////////////////// */
/* CLUSTER */
.cluster {
  display: flex;
  flex-wrap: var(--cluster-flex-wrap, wrap);
  flex-direction: var(--cluster-flex-direction, row);
  gap: var(--cluster-gap, var(--gutter));
  justify-content: var(--cluster-justify-content, flex-start);
  align-items: var(--cluster-align-items, center);
}
.cluster[data-cluster='space-between'] { justify-content: space-between; }
.cluster[data-cluster='align-items'] { justify-content: flex-end; }
.cluster[data-cluster='test'] {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

/* FLOW */
.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

/* GRID */ /*
--grid-min-item-size (14rem): How large each item should be ideally, as a minimum.
--grid-placement (auto-fill): Set either auto-fit or auto-fill to change how empty grid tracks are handled */
.grid {
  display: grid;
  grid-template-columns: repeat(
    var(--grid-placement, auto-fill),
    minmax(var(--grid-min-item-size, 16rem), 1fr)
  );
  gap: var(--grid-gap, var(--gutter));
}
.grid[data-rows='masonry'] {
  grid-template-rows: masonry;
  align-items: start;
}
.grid[data-layout='50-50'] {
  --grid-placement: auto-fit;
  --grid-min-item-size: clamp(16rem, 50vw, 26rem);
}
.grid > * {
  display: block;
}

/* REGION */
.region {
  padding-block-start: var(--region-block-start, var(--space-l-2xl));
  padding-block-end: var(--region-block-end, var(--space-l-2xl));
}
.region[data-region='space-xs-l'] {
  --region-block-start: var(--space-xs-l);
  --region-block-end: var(--space-xs-l);
}

/* SIDEBAR */ /*
--sidebar-flex-basis (20rem): How large the sidebar should be
--sidebar-min-inline-size(50%): The minimum size of the main content area
/* sidebar exceptions
.sidebar[data-direction='rtl']: flips the sidebar to be on the right */
.sidebar {
  display: flex;
  flex-wrap: wrap;
  gap: var(--sidebar-gap, var(--gutter));
}
.sidebar > :first-child {
  flex-basis: var(--sidebar-flex-basis, 20rem);
  flex-grow: 1;
}
.sidebar > :last-child {
  flex-basis: 0;
  flex-grow: 999;
  min-inline-size: var(--sidebar-min-inline-size, 50%);
}
/*  A flipped version where the sidebar is on the right */
.sidebar[data-direction='rtl'] {
  flex-direction: row-reverse;
}

/* STACK */
.stack {
  display: flex;
  flex-direction: var(--cluster-flex-direction, column);
  justify-content: var(--stack-justify-content, flex-start);
  align-items: var(--stack-align-items, stretch);
}
.stack > * { margin-block: 0; } 
.stack > * + * { margin-block-start: var(--stack-space, 1.5rem); }

/* SWITCHER */
.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--switcher-gap, var(--gutter));
}
.switcher > * {
  flex-grow: 1;
  flex-basis: var(--switcher-flex-basis, calc(( 30rem - 100%) * 999));
  justify-content: var(--switcher-justify-content, start);
  align-items: var(--switcher-align-items, stretch);
  flex-direction: var(--switcher-flex-direction, column);
}
.switcher > :nth-last-child(n+ 5),
.switcher > :nth-last-child(n+ 5) ~ * {
  flex-basis: 100%;
}
.switcher > * {
  display: block;
}

/* WRAPPER */
.wrapper {
  max-inline-size: var(--wrapper-max-inline-size, var(--max));
  margin-inline-start: auto;
  margin-inline-end: auto;
  padding-inline-start: var(--gutter);
  padding-inline-end: var(--gutter);
  position: relative;
}

/* UTILITIES ////////////////////////////// */
.u-invert {
  color: var(--color-light);
  background: var(--color-dark);
}

.u-vh {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.stack .u-vh:first-child + input {
  margin-block-start: 0;
}

.u-padding {
  padding: var(--u-padding, var(--gutter));
}
.u-padding[data-padding='small'] { --u-padding: var(--space-s); }
.u-padding[data-padding='medium'] { --u-padding: var(--space-m); }
.u-padding[data-padding='large'] { --u-padding: var(--space-xs-l); }

.u-text-align {
  text-align: var(--u-text-align, center);
}
.u-text-align[data-text-align='end'] { --u-text-align: end; }

/* BLOCKS ////////////////////////////// */
/* WEBSITE FEATURES */

/* SKIP LINK */
.skip-link {
  display: inline-block;
  padding-inline: var(--gutter);
  background: var(--color-light);
  color: var(--color-dark);
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  inset-block-start: var(--space-xs-l);
  inset-inline-start: var(--gutter);
}

.skip-link:hover {
  background: var(--color-dark);
  color: var(--color-light);
}

.skip-link:not(:focus) {
  border: 0;
  clip: rect(0 0 0 0);
  block-size: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

/* HAMBURGER */
#hamburger {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: 0;
  transform: translate(-50%, -50%);
  cursor: pointer;
  line-height: 20px;
  height: 1em; /* optional */
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#hamburger span {
  display: block;
  block-size: 2px;
  inline-size: calc(var(--space-m) * 0.9);
  background-color: var(--color-dark);
  transition: var(--transition-base);
}

#hamburger span.change:nth-of-type(1) { transform: translate(0, 9px) rotate(-45deg); }
#hamburger span.change:nth-of-type(2) { opacity: 0; }
#hamburger span.change:nth-of-type(3) { transform: translate(0, -9px) rotate(45deg); }

/* SLIDEOUT */
#slideout {
  position: fixed;
  inset-block-start: 0;
  inset-inline-end: -16rem;
  inline-size: min(16rem, 60vw);
  min-block-size: 100vh;
  min-block-size: 100dvh;
  background-color: var(--color-bg);
  z-index: 2;
  transition: var(--transition-base);
  padding: var(--gutter);
  border-inline-start: var(--border);
}

#slideout.open {
  inset-inline-end: 0;
}

#slideout li a { text-decoration: underline; }
#slideout li a:hover { text-decoration: none; }

#overlay {
  position: fixed;
  inset: 0;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 1;
  display: none;
}

/* INDIVIDUAL PAGE COMPONENTS */
.b-header {
  background-color: var(--color-gray);
}

.b-alert {
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 999;
  /* text-align: center; */
  padding: var(--space-xs-l);
  border: var(--border);
  border-block-start: none;
  border-radius: var(--border-radius);
}
.b-alert[data-alert='success'] {
  background-color: var(--color-state-valid);
  color: var(--color-light);
}
.b-alert[data-alert='fail'],
.b-alert[data-alert='error'] {
  background-color: var(--color-state-invalid);
  color: var(--color-light);
}
.b-alert[data-alert='warning'] {
  background-color: var(--color-state-warning);
  color: var(--color-light);
}

/* PAGE - HOME */
.page-home h2 {
  text-align: center;
  margin-inline: auto;
}

.page-home article ~ article {
  border-block-start: var(--border);
}

/* header */
.page-home header {
  display: flex;
  flex-direction: column;
  min-block-size: 70vh;
  background-color: var(--color-gray);
}

.page-home header > div {
  margin-block: auto;
}

/* beers */
.b-beers {
  --sidebar-gap: none;
  --sidebar-flex-basis: 22.5rem;
  --sidebar-min-inline-size: 50%;
  --measure: 95ch; /* 95ch */
}

.b-beers ol {
  padding-block: var(--space-l-2xl);
}

.b-beers li a :where(h3) {
  text-decoration: underline;
}

.b-beers li a:hover :where(h3) {
  text-decoration: none;
}

.b-beers ol > li {
  border: var(--border);
}

.b-beers ol > li ~ li {
  margin-block-start: var(--space-l-2xl);
  margin-block-start: var(--gutter);
}

.b-beers ol > li:nth-child(even) {
  margin-inline-start: auto;
}

.b-beers li a > div:first-of-type {
 display: flex;
}

.b-beers li img {
  flex-grow: 1;
}

.b-beers ul li > span:first-of-type {
  margin-inline-end: var(--gutter);
}

.b-beers ul li > span:last-of-type {
  margin-inline-start: var(--gutter);
}

.b-beers ul li ~ li {
  margin-block-start: var(--gutter);
}

.b-beers div > div  {
  text-align: center;
  margin-inline: auto;
}

/* find us */
.b-find-us {
  --stack-align-items: center;
  background-color: var(--color-gray);
}

.b-find-us h3 {
  text-align: center;
  margin-inline: auto;
}

/* actus/artistes */
.b-actus-artistes {
  --switcher-flex-basis: 22rem;
  --switcher-justify-content: center;
  --switcher-align-items: center;
  --switcher-flex-direction: column;
}

.b-actus-artistes .switcher > a {
  display: flex;
  aspect-ratio: 5/4;
  border: var(--border);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* brasserie */
.b-brasserie {
  --switcher-flex-basis: 22rem;
}

.b-brasserie img {
  border: var(--border);
}

.b-brasserie h2 {
  text-align: start;
  margin-inline: 0;
}

.b-brasserie .stack {
  display: flex;
}

/* contact */
.b-contact .wrapper > .switcher {
  --switcher-flex-basis: 22rem;
  padding-block-start: var(--space-l-2xl);
}

.b-contact .wrapper > .switcher > :first-child {
  --stack-space: calc(var(--gutter) * 2);
}

.b-contact .switcher > :last-child form .switcher  {
  --switcher-flex-basis: calc(( 30rem - 100%) * 999);
}

/* PAGE - BEERS */
.page-beers .grid {
  --grid-min-item-size: clamp(9.50rem, calc(7.24rem + 11.30vw), 16.00rem);
}

.page-beers ol :where(h2, p) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.page-beers .grid li {
  border: var(--border);
}

.page-beers li a :where(h2) {
  text-decoration: underline;
}

.page-beers li a:hover :where(h2) {
  text-decoration: none;
}

.page-beers .grid h2 {
  -webkit-line-clamp: 1;
}

.page-beers .grid p {
  -webkit-line-clamp: 3;
}

/* PAGE - FIND-US */
.page-find-us .grid {
  --grid-min-item-size: clamp(9.50rem, calc(5.15rem + 21.74vw), 22.00rem);
}

.page-find-us .grid {
  --cluster-flex-wrap: nowrap;
}

.page-find-us ol > li {
  border: var(--border);
}

.page-find-us ol ul {
  list-style: none;
  padding-inline-start: 0;
}

.page-find-us ol a {
  display: inline;
  text-decoration: underline;
}

.page-find-us ul[class="flow"] :where(:nth-child(2), :nth-child(3)) {
  --flow-space: none;
}

.page-find-us ol ul li > a:hover {
  text-decoration: none;
}

/* PAGE - ACTUS & EVENTS */
.page-actus-events {
  --sidebar-flex-basis: 22.5rem;
}

.page-actus-events ol li {
  --measure: none;
}

.page-actus-events h2 {
  --measure: 15ch;
}

.page-actus-events p {
  --measure: 75ch;
}

.page-actus-events article ol li:not(:first-child) {
  border-block-start: var(--border);
  padding-block-start: var(--space-l-2xl);
  margin-block-start: var(--space-l-2xl);
}

/* PAGE - ARTISTES */
.page-artistes {
  --sidebar-flex-basis: 22.5rem;
}

.page-artistes ol li {
  --measure: none;
}

.page-artistes h2 {
  --measure: 15ch;
}

.page-artistes p {
  --measure: 75ch;
}

.page-artistes div > h2 ~ a {
  display: inline-block;
}

/* PAGE - LOGIN */
:where(.page-signup, .page-login, .page-forgot-password, .page-reset-password) a {
  display: inline-block;
  margin-inline-start: auto;
}

/* PAGE - ACCOUNT */
.page-account .sidebar > :first-child {
  background-color: var(--color-gray);
  border: var(--border);
  --cluster-flex-direction: column;
  --cluster-align-items: flex-start;
}

.page-account .sidebar > :first-child button {
  display: inline;
  padding: 0;
  border: 0;
  font: inherit;
  text-decoration: underline;
  cursor: pointer;
  background: transparent;
  color: currentColor;
  -webkit-appearance: none;  
}

.page-account .sidebar > :first-child button:hover {
  text-decoration: none;
}

.page-account .sidebar > :last-child h2:not(:first-child) {
  margin-block-start: var(--space-l-2xl);
  max-inline-size: none;
}

.page-account table {
  table-layout: fixed;
  border-collapse: collapse;
}

.page-account td:nth-last-child(-n+1) {
  word-wrap: break-word;
  inline-size: 1%;
}

.page-account tr:nth-child(odd) {
  background-color: var(--color-gray);
}

.page-account td, th {
  border: var(--border);
  padding-block: var(--gutter);
  padding-inline: var(--gutter);
}

.page-account table tr:first-child th:first-child {
  text-align: start;
}

.page-account .b-admin-item {
  --flow-space: .4em;
  background-color: var(--color-gray);
  border: var(--border);
}

.page-account .b-admin-item .switcher {
  --stack-space: var(--space-m);
}

.page-account .b-admin-item .u-padding {
  border: var(--border);
}

.page-account .b-admin-item ~ div {
  border: var(--border);
}
