<header class="b-header">
  <div class="wrapper region">
    <h1><%= page %></h1>
  </div>
</header>

<article>
  <div class="wrapper region stack">
    <h2>forgot password</h2>
    <form class="stack">
      <label class="u-vh" for="email">email (required)</label>
      <input placeholder="email" type="email" id="email" name="email" autocomplete="email" require>
      <button>send password reset email</button>
      <a href="/login">return to login</a>
    </form>
  </div>
</article>
