<header class="b-header">
  <div class="wrapper region">
    <h1><%= page %></h1>
  </div>
</header>

<article>
  <div class="wrapper region ">
    <div class="stack">
      <h2>login</h2>
      <form class="stack">
        <label class="u-vh" for="email">email (required)</label>
        <input placeholder="email" type="email" id="email" name="email" autocomplete="email" require>
        <label class="u-vh" for="password">password (required)</label>
        <input placeholder="password" type="password" id="password" name="password" autocomplete="password" require>
        <button>login</button>
        <a href="/forgot-password">forgot password</a>
      </form>
    </div>
  </div>
</article>
