<header class="b-header">
  <div class="wrapper region">
    <h1><%= page %></h1>
  </div>
</header>

<article>
  <div class="wrapper region ">
    <div class="stack">
      <h2>reset password</h2>
      <form class="stack">
        <label class="u-vh" for="password">password (required)</label>
        <input placeholder="password" type="password" id="password" name="password" autocomplete="password" require>
        <label class="u-vh" for="passwordConfirm">passwordConfirm (required)</label>
        <input placeholder="passwordConfirm" type="password" id="passwordConfirm" name="passwordConfirm" autocomplete="password" require>
        <button>reset password</button>
        <a href="/login">return to login</a>
      </form>
    </div>
  </div>
</article>
