<header class="b-header">
  <div class="wrapper region">
    <h1><%= page %></h1>
  </div>
</header>

<article>
  <div class="wrapper region ">
    <div class="stack">
      <h2>signup</h2>
      <form class="stack">
        <label class="u-vh" for="firstname">firstname (required)</label>
        <input placeholder="firstname" type="text" id="firstname" name="firstname" autocomplete="firstname" require>
        <label class="u-vh" for="surname">surname (required)</label>
        <input placeholder="surname" type="text" id="surname" name="surname" autocomplete="surname" require>
        <label class="u-vh" for="email">email (required)</label>
        <input placeholder="email" type="email" id="email" name="email" autocomplete="email" require>
        <label class="u-vh" for="password">password (required)</label>
        <input placeholder="password" type="password" id="password" name="password" autocomplete="password" require>
        <label class="u-vh" for="passwordConfirm">passwordConfirm (required)</label>
        <input placeholder="passwordConfirm" type="password" id="passwordConfirm" name="passwordConfirm" autocomplete="password" require>
        <button>signup</button>
        <a href="/login">already have an account</a>
      </form>
    </div>
  </div>
</article>
