<p>Hi <%= firstname.charAt(0).toUpperCase() + firstname.slice(1) %>,</p>
<p>We received a request to reset the password associated with this email address.</p>
<p>If you did not make this request, please ignore this email.</p>
<p>Otherwise, click the link below to reset your password:</p>
<p><a href="<%= url %>" target="_blank">http://localhost:8000/reset-password</a></p>
<p>Please note that this link will expire in 10 minutes.</p>
<p>If you have any questions, please don't hesitate to contact us.</p>
<p>Thanks,</p>
<p>Expedition Brewery</p>