<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= subject %></title>
</head>
<header style="background-color: #F7F7F7; padding: 20px;">
  <img src="https://www.expeditionbrewery.com/images/logo.png" alt="Expedition Brewery Logo" style="display: block; margin: 0 auto; max-width: 200px;">
</header>
<body>
  <%- include(`${template}`) %>
</body>
<footer style="margin-top: 30px; font-size: 14px; color: #999; text-align: center;">
  <p>Expedition Brewery</p>
  <p>1234 Main Street</p>
  <p>Brew City, USA 12345</p>
  <p><a href="https://www.expeditionbrewery.com/" style="color: #999;">www.expeditionbrewery.com</a></p>
  <p>To unsubscribe from our emails, please <a href="#" style="color: #999; text-decoration: underline;">click here</a>.</p>
</footer>
</html>
