<p>Welcome, <%= firstname.charAt(0).toUpperCase() + firstname.slice(1) %>,</p>
<p>Thank you for signing up with Expedition Brewery, where the beer is crafted with passion and a spirit of adventure! We're excited to have you join us.</p>
<p>To get started, please follow the link below:</p>
<p><a href="<%= url %>" target="_blank"><%= url %></a></p>
<p>Thanks again for choosing Expedition Brewery!</p>